html {
    scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  display: grid;
  height: 100vh;
  place-items: center;
}

.app__videos {
  border: 1px solid black;
  border-radius: 20px;
  height: 100vh;
  max-height: 800px;
  max-width: 500px;
  overflow: scroll;
  position: relative;
  scroll-snap-type: y mandatory;
  width: 80%;
}

/* Esconde a scrollbar no Chrome, Opera e Safari */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* Esconde a scrollbar no IE, Edge e Firefox */
.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}